.card {
    box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.2);
    margin: 20px;
    border-radius: 8px;
    height: 400px;
    max-width: 400px;
    overflow: auto;
    background: #fff;
}

.contact {
    margin-top: 50px;
}

#me {
    width: 100px;
    border-radius: 50%;
    margin-top: 30px;
}