* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}


/* Navbar */
nav {
  background-color: #fff;
}

#logo {
  height: 30px;
}


/* Header */
h1 {
  font-size: 30px;
  font-weight: 300;
}

h2 {
  font-size: 20px;
  color: #676858;
  font-weight: 300;
}

header {
  padding-top: 45px;
  padding-bottom: 15px;
}


/* Main */
.sub-head {
  padding-left: 35px;
}

h3 {
  font-weight: 400;
}

.card-project {
  box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
  border-radius: 5px;
  height: 300px;
  max-width: 400px;
  overflow: auto;
}

.card-project-image {
  width: 100%;
  height: 40%;
  overflow: hidden;
}

h4 {
  padding: 25px;
  font-size: 20px;
}

main {
  padding: 30px;
}


/* Footer */
footer {
  background-color: #f7f6f5;
  font-size: 12px;
  color: #676858;
  padding: 20px;
  padding-bottom: 45px;
}

.footer-links {
  width: 30px;
  height: 30px;
  float: right;
  padding: 5px;
}

.footer-cp {
  padding-top: 10px;
  padding-bottom: 10px;
}


/* Keep footer at the bottom
 * Reference: Matthew James Taylor (http://matthewjamestaylor.com/)
 * Link: https://cssreset.com/how-to-keep-footer-at-bottom-of-page-with-css/
 */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%
}

#wrapper {
  min-height: 100%;
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
}

.content {
  padding: 30px;
  padding-bottom: 150px;
}


/* Modal */
.modal-image {
  height: 180px;
  overflow: hidden;
  border-radius: 3.3px 3.3px 0 0;
}

.modal-headr {
  padding-top: 30px;
}

.modal-body {
  padding-left: 30px;
  color: #676858;
}

.modal-footr {
  margin: 0 auto;
  padding-bottom: 30px;
}

.modal-link {
  width: 25px;
  height: 25px;
}
